%p#notice= notice

%p
  %b Username:
  = @user.username
%p
  %b Email:
  = @user.email
%p
  %b Role:
  = @user.role
%p
  %b Area:
  = @user.area

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
