= link_to "elenco utenti", users_path if current_user.is_admin?
= link_to "elenco accessi", clocks_path if current_user.is_admin?
= link_to "dashboard", url_for(controller: 'clocks', action: :dashboard) if current_user.is_camera?

= form_for @clock , role: "form" do |f|
  - if @clock.errors.any?
    .row.well-sm
      %span.col-xs-12
        #error_explanation
          - @clock.errors.full_messages.each do |msg|
            %h3.bg-danger.well-sm= msg
  .row.well-sm
    %span.col-xs-8
      ="Utente: #{current_user.username}"
    %span.col-xs-2
      = link_to "Cambia password", edit_user_registration_path
    %span.col-xs-2
      = link_to "Log Out",  destroy_user_session_path
  .row.well-sm
    %span.col-xs-12
      =f.hidden_field :action, id: "op"
  //   =password_field_tag :pin, "", class: "form-control block" , placeholder:"insert pin here"
  //   -#=f.text_field :ip
  .row.well-sm
    %span.col-xs-6.col-md-4
      ="HH"
      =select_hour(@moment,{ start_hour: 7, end_hour: 24}, {class: "btn btn-lg btn-default btn-block"})
    %span.col-xs-6.col-md-4
      ="MM"
      =select_minute(@moment, {minute_step: 1}, {class: "btn btn-lg btn-default btn-block"})

    -#%span.col-xs-2
      -#%button.btn.btn-xs.btn-default.btn-block{:type => "button"} +
      -#%button.btn.btn-xs.btn-default.btn-block{:type => "button"} -
  .row.well-sm
    %span.col-xs-6
      %button.btn.btn-lg.btn-success.btn-block{id: "entrata", :type => "button"} Entrata
    %span.col-xs-6
      %button.btn.btn-lg.btn-danger.btn-block{id: "uscita",:type => "button"} Uscita
  .row.well-sm
    %span.col-xs-12
      %label.col-xs-2.control-label Annotazioni
      = f.text_area :message, class: "form-control block",  :rows => "3"

:javascript
    $(document).ready( function() {
      $('#entrata').click(function()
        {$("#op").val("check_in");
        $("#new_clock").submit();})
      $('#uscita').click(function()
          {$("#op").val("check_out");
          $("#new_clock").submit();})
    } );